body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.container {
    width: 1000px;
}

.disclaimer {
    font-style: italic;
}

.lastDaysShading {
    fill: #000000;
    fill-opacity: 0.15;
}

.tableGreen {
    background-color: rgba(38, 199, 28, 0.2);
}

.tableYellow {
    background-color: rgba(215, 230, 35, 0.2);
}

.tableOrange {
    background-color: rgba(230, 135, 35, 0.2);
}

.tableRed {
    background-color: rgba(213, 51, 51, 0.2);
}

.tablePurple {
    background-color: rgba(132, 23, 167, 0.2);
}

.lineRed {
    fill: none;
    stroke: #D53333;
    stroke-width: 2px;
}

.lineOrange {
    fill: none;
    stroke: #E68723;
    stroke-width: 2px;
}

.lineYellow {
    fill: none;
    stroke: #D7E623;
    stroke-width: 2px;
}

.shadeRed {
    fill: #D53333;
    fill-opacity: 0.1;
}

.shadeOrange {
    fill: #E68723;
    fill-opacity: 0.1;
}

.shadeYellow {
    fill: #D7E623;
    fill-opacity: 0.1;
}

.shadeGreen {
    fill: #26C71C;
    fill-opacity: 0.1;
}
